{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Mi sitio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'my_app/styles.css' %}">
</head>
<body>
    <nav>
      <a href="{% url 'inicio' %}">Inicio</a> |
      <a href="{% url 'crear_cliente' %}">Crear Cliente</a> |
      <a href="{% url 'crear_producto' %}">Crear Producto</a> |
      <a href="{% url 'crear_compra' %}">Crear Compra</a> |
      <a href="{% url 'buscar_cliente' %}">Buscar Cliente</a>
      <a href="{% url 'inicio' %}">Inicio</a> |
      <a href="{% url 'listar_clientes' %}">Lista de Clientes</a> |
    </nav>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>
