{% extends 'my_app/base.html' %}

{% block title %}Listar Productos{% endblock %}

{% block content %}
<h1>Lista de Productos</h1>

<p><a href="{% url 'crear_producto' %}">Crear nuevo Producto</a></p>

{% if productos %}
    <ul>
    {% for producto in productos %}
        <li>
            {{ producto.nombre }} - ${{ producto.precio }} 
            | <a href="{% url 'editar_producto' producto.id %}">Editar</a>
            | <a href="{% url 'borrar_producto' producto.id %}">Borrar</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No hay productos registrados.</p>
{% endif %}
{% endblock %}
