{% extends 'my_app/base.html' %}
{% block title %}Mensajes Enviados{% endblock %}

{% block content %}
<h1>Mensajes Enviados (Outbox)</h1>
<p><a href="{% url 'new_message' %}" class="btn btn-success">Redactar nuevo mensaje</a></p>
<p><a href="{% url 'inbox' %}" class="btn btn-info">Ver recibidos</a></p>

{% if messages_list %}
  <ul class="list-group">
    {% for msg in messages_list %}
    <li class="list-group-item">
      <strong>Para:</strong> {{ msg.receiver.username }} <br>
      <small>{{ msg.date|date:"DATETIME_FORMAT" }}</small>
      <p>
        <a href="{% url 'message_detail' msg.id %}" class="btn btn-link">Ver Mensaje</a>
      </p>
    </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No has enviado ningún mensaje.</p>
{% endif %}
{% endblock %}
